{% extends 'webapp/base.html' %}
{% load static %}

{% block css %}
 <link href="{% static 'styles/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %} {% endblock %}

{% block footer %} {% endblock %}

<script src="/static/styles/jquery/jquery.min.js"></script>
<script src="/static/styles/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="/static/styles/fontawesome/fontawesome-icons.js" crossorigin="anonymous"></script>

